In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.

In [3]:
driver=webdriver.Chrome(r"C:\Users\jayes\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

Get the url of website

In [75]:
a=[]
title_tags=driver.find_elements(By.XPATH,'//td')
for i in title_tags[0:181]:
    title=i.text
    a.append(title)

Get the data from the table

In [92]:
rank=[]
for i in range(2,len(a),6):
    rank.append(a[i][:-1])
    
name=[]
for i in range(3,len(a),6):
    name.append(a[i][1:-4])
    
up=[]
for i in range(4,len(a),6):
    up.append(a[i])
    
view=[]
for i in range(5,len(a),6):
    view.append(a[i])
    
date=[]
for i in range(6,len(a),6):
    date.append(a[i])

Extract rank, name, uploaded date and views of the videos from table.

In [93]:
df=pd.DataFrame({"Rank":rank,"Name":name,"Artist":up,"Views (in billions)":view,"Upload Date ":date})
df.head()

,Rank,Name,Artist,Views (in billions),Upload Date
0,1,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,11.58,"June 17, 2016"
1,2,Despacito,Luis Fonsi,7.99,"January 12, 2017"
2,3,"Johny Johny Yes Papa""",LooLoo Kids,6.50,"October 8, 2016"
3,4,"Shape of You""",Ed Sheeran,5.83,"January 30, 2017"
4,5,"Bath Song""",Cocomelon – Nursery Rhymes,5.68,"May 2, 2018"

In [94]:
driver.close()

# 2. Scrape the details team India’s international fixtures from bcci.tv

In [46]:
driver=webdriver.Chrome(r"C:\Users\jayes\Downloads\chromedriver_win32\chromedriver.exe")

In [47]:
driver.get("http://www.bcci.tv/")

Get the url of website

In [48]:
driver.find_element(By.XPATH,"//a[text()='INTERNATIONAL']").click()
driver.implicitly_wait(20)

Select "International" from the menu bar in header of the webpage.

In [49]:
from selenium.common.exceptions import ElementClickInterceptedException
try:
    driver.find_element(By.XPATH,'//div[text()="All Formats"]').click()
except ElementClickInterceptedException as e:
    print("Exception Raised\n",e,"\n")
    driver.find_element(By.XPATH,"/html/body/div[6]/button").click()
    print("\nException Successfully handled")

Exception Raised
 Message: element click intercepted: Element <div class="cSBDisplay ng-binding" ng-click="cSBShowList($event)">...</div> is not clickable at point (508, 340). Other element would receive the click: <div class="tab-pane fade show active fixturesresultswidget" id="fixtures" role="tabpanel" aria-labelledby="fixtures-tab">...</div>
  (Session info: chrome=106.0.5249.119)
Stacktrace:
Backtrace:
	Ordinal0 [0x00D0DF13+2219795]
	Ordinal0 [0x00CA2841+1779777]
	Ordinal0 [0x00BB423D+803389]
	Ordinal0 [0x00BE99D4+1022420]
	Ordinal0 [0x00BE78C4+1013956]
	Ordinal0 [0x00BE54AB+1004715]
	Ordinal0 [0x00BE4117+999703]
	Ordinal0 [0x00BD9B76+957302]
	Ordinal0 [0x00BFE7FC+1107964]
	Ordinal0 [0x00BD94B4+955572]
	Ordinal0 [0x00BFEA14+1108500]
	Ordinal0 [0x00C0F192+1175954]
	Ordinal0 [0x00BFE616+1107478]
	Ordinal0 [0x00BD7F89+950153]
	Ordinal0 [0x00BD8F56+954198]
	GetHandleVerifier [0x01002CB2+3040210]
	GetHandleVerifier [0x00FF2BB4+2974420]
	GetHandleVerifier [0x00DA6A0A+565546]
	GetHandleVerifier [0x00DA5680+560544]
	Ordinal0 [0x00CA9A5C+1808988]
	Ordinal0 [0x00CAE3A8+1827752]
	Ordinal0 [0x00CAE495+1827989]
	Ordinal0 [0x00CB80A4+1867940]
	BaseThreadInitThunk [0x76C26359+25]
	RtlGetAppContainerNamedObjectPath [0x778487A4+228]
	RtlGetAppContainerNamedObjectPath [0x77848774+180]



Exception Successfully handled

Handle cookies pop up.

In [50]:
driver.find_element(By.XPATH,"//div[text()='All Formats']").click()

Access "All Format" dropdown from menu under the Fixture header.

In [51]:
driver.find_element(By.XPATH,"//div[text()='ODI']").click()

Select ODI from dropdown of "All Format"

In [63]:
title=[]
title_tags=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in title_tags:
    title.append(i.text[:-1])
    
series=[]
series_tags=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in series_tags:
    series.append(i.text)

place=[]
place_tags=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in place_tags:
    place.append(i.text[9:])
    
date=[]
date_tags=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in date_tags:
    date.append(i.text)

time=[]
time_tags=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in time_tags:
    time.append(i.text[:-4])

Extract title, series, place and date of each IOD fixture displayed on webpage.

In [64]:
df2=pd.DataFrame({"Title":title,"Series":series,"Date":date,"Time (IST)":time})
df2.head()

,Title,Series,Date,Time (IST)
0,1st ODI,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,25 NOV 2022,7:00 AM
1,2nd ODI,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,27 NOV 2022,7:00 AM
2,3rd ODI,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,30 NOV 2022,7:00 AM
3,1st ODI,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,4 DEC 2022,12:30 PM
4,2nd ODI,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,7 DEC 2022,12:30 PM

In [65]:
driver.close()

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.

In [108]:
driver=webdriver.Chrome(r"C:\Users\jayes\Downloads\chromedriver_win32\chromedriver.exe")

In [109]:
driver.get("https://www.statisticstimes.com/")

Get the url of website

In [110]:
find=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
find.click()

Access Economy from website menu bar

In [111]:
from selenium.common.exceptions import ElementNotInteractableException
try:
    find=driver.find_element(By.XPATH,'//a[text()="India"]').click()
except ElementNotInteractableException as e:
    print("Exception Raised\n",e,"\n")
    find=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()
    print("\nException Successfully handled")

Exception Raised
 Message: element not interactable
  (Session info: chrome=106.0.5249.119)
Stacktrace:
Backtrace:
	Ordinal0 [0x0075DF13+2219795]
	Ordinal0 [0x006F2841+1779777]
	Ordinal0 [0x00604100+803072]
	Ordinal0 [0x00633FB6+999350]
	Ordinal0 [0x00629B76+957302]
	Ordinal0 [0x0064E7FC+1107964]
	Ordinal0 [0x006294B4+955572]
	Ordinal0 [0x0064EA14+1108500]
	Ordinal0 [0x0065F192+1175954]
	Ordinal0 [0x0064E616+1107478]
	Ordinal0 [0x00627F89+950153]
	Ordinal0 [0x00628F56+954198]
	GetHandleVerifier [0x00A52CB2+3040210]
	GetHandleVerifier [0x00A42BB4+2974420]
	GetHandleVerifier [0x007F6A0A+565546]
	GetHandleVerifier [0x007F5680+560544]
	Ordinal0 [0x006F9A5C+1808988]
	Ordinal0 [0x006FE3A8+1827752]
	Ordinal0 [0x006FE495+1827989]
	Ordinal0 [0x007080A4+1867940]
	BaseThreadInitThunk [0x76086359+25]
	RtlGetAppContainerNamedObjectPath [0x777587A4+228]
	RtlGetAppContainerNamedObjectPath [0x77758774+180]



Exception Successfully handled

Select India from Economy Dropdown in menu bar

In [112]:
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.alert import Alert
try:
    find=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
    find.click()
except NoSuchElementException as e:
    print("Exception Raised\n",e,"\n")
    driver.switch_to.frame("aswift_2")
    driver.switch_to.frame("ad_iframe")
    find=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[2]/div/div/div[2]/div/div/div[3]')
    find.click()
    driver.switch_to.default_content()
    print("\nException Successfully handled")

Exception Raised
 Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a"}
  (Session info: chrome=106.0.5249.119)
Stacktrace:
Backtrace:
	Ordinal0 [0x0075DF13+2219795]
	Ordinal0 [0x006F2841+1779777]
	Ordinal0 [0x0060423D+803389]
	Ordinal0 [0x00633025+995365]
	Ordinal0 [0x006331EB+995819]
	Ordinal0 [0x00660F52+1183570]
	Ordinal0 [0x0064E844+1108036]
	Ordinal0 [0x0065F192+1175954]
	Ordinal0 [0x0064E616+1107478]
	Ordinal0 [0x00627F89+950153]
	Ordinal0 [0x00628F56+954198]
	GetHandleVerifier [0x00A52CB2+3040210]
	GetHandleVerifier [0x00A42BB4+2974420]
	GetHandleVerifier [0x007F6A0A+565546]
	GetHandleVerifier [0x007F5680+560544]
	Ordinal0 [0x006F9A5C+1808988]
	Ordinal0 [0x006FE3A8+1827752]
	Ordinal0 [0x006FE495+1827989]
	Ordinal0 [0x007080A4+1867940]
	BaseThreadInitThunk [0x76086359+25]
	RtlGetAppContainerNamedObjectPath [0x777587A4+228]
	RtlGetAppContainerNamedObjectPath [0x77758774+180]



Exception Successfully handled

Closed google ad popup.

In [113]:
find=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
find.click()

Accessing GDP of Indian states from Indian states section appearing on the webpage.

In [114]:
new=[]
info_tags=driver.find_elements(By.XPATH,'//tr')
for i in info_tags[4:37]:
        new.append(i.text.split())

Extracting data from GSDP table.

In [115]:
rank=[]
region=[]
gsdp19=[]
gsdp18=[]
share18=[]
gdp19=[]
for i in range(len(new)):
        rank.append(new[i][0])
        if len(new[i])==8:
            region.append(new[i][1])
            gsdp19.append(new[i][2])
            gsdp18.append(new[i][3])
            share18.append(new[i][4])
            gdp19.append(new[i][5])
        elif len(new[i])==9:
            region.append(new[i][1]+new[i][2])
            gsdp19.append(new[i][3])
            gsdp18.append(new[i][4])
            share18.append(new[i][5])
            gdp19.append(new[i][6])
        elif len(new[i])==10:
            region.append(new[i][1]+new[i][2]+new[i][3])
            gsdp19.append(new[i][4])
            gsdp18.append(new[i][5])
            share18.append(new[i][6])
            gdp19.append(new[i][7])
        else:
            region.append(new[i][1]+new[i][2]+new[i][3]+new[i][4])
            gsdp19.append(new[i][5])
            gsdp18.append(new[i][6])
            share18.append(new[i][7])
            gdp19.append(new[i][8])

Extracting data from each coloumn.

In [116]:
df4=pd.DataFrame({"Rank":rank,"State":region,"GSDP 2019-20 (₹ crore)":gsdp19,"GSDP 2018-19 (₹ crore)":gsdp18,"Share 2018-19":share18,"GDP 2019 ($ Billion)":gdp19})
df4.head()

,Rank,State,GSDP 2019-20 (₹ crore),GSDP 2018-19 (₹ crore),Share 2018-19,GDP 2019 ($ Billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,TamilNadu,"1,845,853","1,630,208",8.63%,247.629
2,3,UttarPradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806

In [117]:
driver.close()

# 4. Scrape the details of trending repositories on Github.com.

In [118]:
driver=webdriver.Chrome(r"C:\Users\jayes\Downloads\chromedriver_win32\chromedriver.exe")

In [119]:
driver.get("https://github.com/")

Get the url of website

In [120]:
find=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
find.click()

Accessing "Open Source" from menu bar

In [121]:
find=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
find.click()

Accessing trending under "Open Source" dropdown menu.

In [123]:
name=[]
title_tag=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
for i in title_tag:
    name.append(i.text)

Extracting repository name.

In [312]:
from selenium.common.exceptions import NoSuchElementException
descriptions=[]


for i in range(1,len(name)+1):
    try:
        c=driver.find_element(By.XPATH,f"/html/body/div[4]/main/div[3]/div/div[2]/article[{i}]/p")
        descriptions.append(c.text)
    except NoSuchElementException as e:
        print("Exception Raised\n",e)
        descriptions.append("-")

Exception Raised
 Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[4]/main/div[3]/div/div[2]/article[3]/p"}
  (Session info: chrome=106.0.5249.119)
Stacktrace:
Backtrace:
	Ordinal0 [0x0075DF13+2219795]
	Ordinal0 [0x006F2841+1779777]
	Ordinal0 [0x0060423D+803389]
	Ordinal0 [0x00633025+995365]
	Ordinal0 [0x006331EB+995819]
	Ordinal0 [0x00660F52+1183570]
	Ordinal0 [0x0064E844+1108036]
	Ordinal0 [0x0065F192+1175954]
	Ordinal0 [0x0064E616+1107478]
	Ordinal0 [0x00627F89+950153]
	Ordinal0 [0x00628F56+954198]
	GetHandleVerifier [0x00A52CB2+3040210]
	GetHandleVerifier [0x00A42BB4+2974420]
	GetHandleVerifier [0x007F6A0A+565546]
	GetHandleVerifier [0x007F5680+560544]
	Ordinal0 [0x006F9A5C+1808988]
	Ordinal0 [0x006FE3A8+1827752]
	Ordinal0 [0x006FE495+1827989]
	Ordinal0 [0x007080A4+1867940]
	BaseThreadInitThunk [0x76086359+25]
	RtlGetAppContainerNamedObjectPath [0x777587A4+228]
	RtlGetAppContainerNamedObjectPath [0x77758774+180]

Extracting repository description.

In [280]:
con=[]
con_tag=driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
for i in con_tag:
    con.append(i.text)

con2=[]
for i in range(1,len(con),2):
    con2.append(con[i])

Extracting contribution count.

In [310]:
l=[]
from selenium.common.exceptions import NoSuchElementException
for i in range(1,len(name)+1):
    try:
        c=driver.find_element(By.XPATH,f"/html/body/div[4]/main/div[3]/div/div[2]/article[{i}]/div[2]/span[1]")
        l.append(c.text)
    except NoSuchElementException as e:
        print("Exception Raised\n",e)
        l.append("-")

Extracting languages used.

In [313]:
df5=pd.DataFrame({"Repository Title":name,"Repository Description":descriptions,"Contributed Count":con2,"Language Used":l})
df5.head()

,Repository Title,Repository Description,Contributed Count,Language Used
0,ocornut / imgui,Dear ImGui: Bloat-free Graphical User interfac...,"7,490",C++
1,mastodon / mastodon,"Your self-hosted, globally interconnected micr...","4,740",Ruby
2,josean-dev / dev-environment-files,-,38,Lua
3,jellyfin / jellyfin,The Free Software Media System,"1,692",C#
4,XavierXiao / Dreambooth-Stable-Diffusion,Implementation of Dreambooth (https://arxiv.or...,355,Jupyter Notebook

In [315]:
df5["Language Used"]

0                  C++
1                 Ruby
2                  Lua
3                   C#
4     Jupyter Notebook
5     Jupyter Notebook
6             Built by
7                 Rust
8           TypeScript
9           JavaScript
10                 C++
11          TypeScript
12                HTML
13          JavaScript
14          TypeScript
15                  Go
16                 CSS
17                Rust
18            Built by
19                 C++
20               Shell
21              Python
22               Shell
23            Built by
24                  Go
Name: Language Used, dtype: object

In [322]:
for i in range(len(df5["Language Used"])):
    if df5.iloc[i,3]=='Built by':
        df5.iloc[i,3]=(df5.iloc[i,3]).replace("Built by","-")

Replacing Built by with "-" in language used column.

In [323]:
df5.iloc[:,-1]

0                  C++
1                 Ruby
2                  Lua
3                   C#
4     Jupyter Notebook
5     Jupyter Notebook
6                    -
7                 Rust
8           TypeScript
9           JavaScript
10                 C++
11          TypeScript
12                HTML
13          JavaScript
14          TypeScript
15                  Go
16                 CSS
17                Rust
18                   -
19                 C++
20               Shell
21              Python
22               Shell
23                   -
24                  Go
Name: Language Used, dtype: object

# 5. Scrape the details of top 100 songs on billiboard.com.

In [84]:
driver=webdriver.Chrome(r"C:\Users\jayes\Downloads\chromedriver_win32\chromedriver.exe")

In [85]:
driver.get("https://www.billboard.com/")

Get the url of website

In [86]:
driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a').click()

Select "Hot 100" from menu bar in the header

In [129]:
name=[]
title=driver.find_elements(By.XPATH,'//h3[@id="title-of-a-story"]')
for i in title:
    if not i.text=="":
        name.append(i.text)
        
names=[]        
names=name[:100]

Extracting song name from list.

In [106]:
a=[]
artist1=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
for i in artist1:
    a.append(i.text)
    
restartist=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in restartist:
        a.append(i.text)

Extract name of the artist.

In [117]:
pw=[]
peak_week=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
for i in peak_week:
    pw.append((i.text).replace("\n"," ").split())

lw=[]
p=[]
woc=[]
for i in pw:
    lw.append(i[-3])
    p.append(i[-2])
    woc.append(i[-1])

Extract song position last week, peak position and weeks on chart.

In [127]:
df6=pd.DataFrame({"Song Name":names,"Artist":a,"Last Week Rank":lw,"Peak Position":p,"Weeks on Charts":woc})
df6.head()

,Song Name,Artist,Last Week Rank,Peak Position,Weeks on Charts
0,Unholy,Sam Smith & Kim Petras,2,1,4
1,Bad Habit,Steve Lacy,1,1,16
2,As It Was,Harry Styles,3,1,29
3,California Breeze,Lil Baby,-,4,1
4,I Like You (A Happier Song),Post Malone Featuring Doja Cat,4,3,20

In [130]:
driver.close()

# 9. Scrape the details of Data science recruiters from naukri.com

In [184]:
driver=webdriver.Chrome(r"C:\Users\jayes\Downloads\chromedriver_win32\chromedriver.exe")

In [185]:
driver.get("https://www.naukri.com/")

Get the url of website

In [186]:
driver.find_element(By.XPATH,'//a[text()="Sitemap"]').click()

Access sitemap in the footer of the webpage

In [188]:
from selenium.common.exceptions import ElementClickInterceptedException   

try:
    driver.find_element(By.XPATH,'//div[text()="Recruiters"]').click()
except ElementClickInterceptedException as e:
    print("Exception Raised\n",e)
    driver.find_element(By.XPATH,'//span[@class="fr geoLocBtn later"]').click()
    driver.implicitly_wait(10)
    driver.find_element(By.XPATH,'//div[text()="Recruiters"]').click()
    print("\nException Successfully handled")

Exception Raised
 Message: element click intercepted: Element <div class="mTxt">...</div> is not clickable at point (378, 38). Other element would receive the click: <p class="caption">...</p>
  (Session info: chrome=106.0.5249.119)
Stacktrace:
Backtrace:
	Ordinal0 [0x00D0DF13+2219795]
	Ordinal0 [0x00CA2841+1779777]
	Ordinal0 [0x00BB423D+803389]
	Ordinal0 [0x00BE99D4+1022420]
	Ordinal0 [0x00BE78C4+1013956]
	Ordinal0 [0x00BE54AB+1004715]
	Ordinal0 [0x00BE4117+999703]
	Ordinal0 [0x00BD9B76+957302]
	Ordinal0 [0x00BFE7FC+1107964]
	Ordinal0 [0x00BD94B4+955572]
	Ordinal0 [0x00BFEA14+1108500]
	Ordinal0 [0x00C0F192+1175954]
	Ordinal0 [0x00BFE616+1107478]
	Ordinal0 [0x00BD7F89+950153]
	Ordinal0 [0x00BD8F56+954198]
	GetHandleVerifier [0x01002CB2+3040210]
	GetHandleVerifier [0x00FF2BB4+2974420]
	GetHandleVerifier [0x00DA6A0A+565546]
	GetHandleVerifier [0x00DA5680+560544]
	Ordinal0 [0x00CA9A5C+1808988]
	Ordinal0 [0x00CAE3A8+1827752]
	Ordinal0 [0x00CAE495+1827989]
	Ordinal0 [0x00CB80A4+1867940]
	BaseThreadInitThunk [0x76C26359+25]
	RtlGetAppContainerNamedObjectPath [0x778487A4+228]
	RtlGetAppContainerNamedObjectPath [0x77848774+180]


Exception Successfully handled

In [206]:
from selenium.common.exceptions import ElementNotInteractableException  
try:
    a=driver.find_element(By.XPATH,'//input[@class="sugInp"]')
    a.send_keys("Data science")
    
except ElementNotInteractableException  as e:
    print("Exception Raised:\n",e)
    
    parent = driver.current_window_handle
    child = driver.window_handles
    
    for i in child:
        if(i!=parent):
            driver.switch_to.window(i)
    print("\nException Successfully handled")

Exception Raised:
 Message: element not interactable
  (Session info: chrome=106.0.5249.119)
Stacktrace:
Backtrace:
	Ordinal0 [0x00D0DF13+2219795]
	Ordinal0 [0x00CA2841+1779777]
	Ordinal0 [0x00BB4100+803072]
	Ordinal0 [0x00BDE523+976163]
	Ordinal0 [0x00BDDB93+973715]
	Ordinal0 [0x00BFE7FC+1107964]
	Ordinal0 [0x00BD94B4+955572]
	Ordinal0 [0x00BFEA14+1108500]
	Ordinal0 [0x00C0F192+1175954]
	Ordinal0 [0x00BFE616+1107478]
	Ordinal0 [0x00BD7F89+950153]
	Ordinal0 [0x00BD8F56+954198]
	GetHandleVerifier [0x01002CB2+3040210]
	GetHandleVerifier [0x00FF2BB4+2974420]
	GetHandleVerifier [0x00DA6A0A+565546]
	GetHandleVerifier [0x00DA5680+560544]
	Ordinal0 [0x00CA9A5C+1808988]
	Ordinal0 [0x00CAE3A8+1827752]
	Ordinal0 [0x00CAE495+1827989]
	Ordinal0 [0x00CB80A4+1867940]
	BaseThreadInitThunk [0x76C26359+25]
	RtlGetAppContainerNamedObjectPath [0x778487A4+228]
	RtlGetAppContainerNamedObjectPath [0x77848774+180]


Exception Successfully handled

Switch from parent to child window.

In [208]:
a=driver.find_element(By.XPATH,'//input[@class="sugInp"]')
a.send_keys("Data science")
search=driver.find_element(By.XPATH,'//button[@class="fl qsbSrch blueBtn"]')
search.click()

Select search box, send "Data science" and submit the search.

In [256]:
name=[]
title=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in title:
    name.append(i.text)

d=[]
designation=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in designation:
    d.append(i.text)
    
c=[]
company=driver.find_elements(By.XPATH,'//a[@class="ellipsis"]')
for i in company:
    c.append(i.text)
    
c2=[]  
for i in range(len(c)):
    if (i%2)!=0:
        c2.append(c[i])
        
    
s=[]
skills=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in skills:
    s.append(i.text)

Extract name, designation, company, skills from the list.

In [247]:
from selenium.common.exceptions import NoSuchElementException
l=[]
for i in range(1,len(s)+1):
    if len(l)!=len(s):
        try:
            if (i%2)==0:
                location=driver.find_element(By.XPATH,f'/html/body/div[3]/div/div[2]/div/div[2]/div[{i}]/div[1]/div[1]/div[1]/p/span[2]/small')
                l.append(location.text)
                location=driver.find_element(By.XPATH,f'/html/body/div[3]/div/div[2]/div/div[2]/div[{i}]/div[2]/div[1]/div[1]/p/span[2]/small')
                l.append(location.text)
            else:
                location=driver.find_element(By.XPATH,f'/html/body/div[3]/div/div[2]/div/div[2]/div[{i}]/div[1]/div[1]/div[1]/p/span[2]/small')
                l.append(location.text)
                location=driver.find_element(By.XPATH,f'/html/body/div[3]/div/div[2]/div/div[2]/div[{i}]/div[2]/div[1]/div[1]/p/span[2]/small')
                l.append(location.text)
        except NoSuchElementException as e:
            print("Exception Raised:\n",e)
            l.append("-")
            print("\nException Successfully handled")

Exception Raised:
 Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[3]/div/div[2]/div/div[2]/div[15]/div[2]/div[1]/div[1]/p/span[2]/small"}
  (Session info: chrome=106.0.5249.119)
Stacktrace:
Backtrace:
	Ordinal0 [0x00D0DF13+2219795]
	Ordinal0 [0x00CA2841+1779777]
	Ordinal0 [0x00BB423D+803389]
	Ordinal0 [0x00BE3025+995365]
	Ordinal0 [0x00BE31EB+995819]
	Ordinal0 [0x00C10F52+1183570]
	Ordinal0 [0x00BFE844+1108036]
	Ordinal0 [0x00C0F192+1175954]
	Ordinal0 [0x00BFE616+1107478]
	Ordinal0 [0x00BD7F89+950153]
	Ordinal0 [0x00BD8F56+954198]
	GetHandleVerifier [0x01002CB2+3040210]
	GetHandleVerifier [0x00FF2BB4+2974420]
	GetHandleVerifier [0x00DA6A0A+565546]
	GetHandleVerifier [0x00DA5680+560544]
	Ordinal0 [0x00CA9A5C+1808988]
	Ordinal0 [0x00CAE3A8+1827752]
	Ordinal0 [0x00CAE495+1827989]
	Ordinal0 [0x00CB80A4+1867940]
	BaseThreadInitThunk [0x76C26359+25]
	RtlGetAppContainerNamedObjectPath [0x778487A4+228]
	RtlGetAppContainerNamedObjectPath [0x77848774+180]


Exception Successfully handled
Exception Raised:
 Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[3]/div/div[2]/div/div[2]/div[25]/div[2]/div[1]/div[1]/p/span[2]/small"}
  (Session info: chrome=106.0.5249.119)
Stacktrace:
Backtrace:
	Ordinal0 [0x00D0DF13+2219795]
	Ordinal0 [0x00CA2841+1779777]
	Ordinal0 [0x00BB423D+803389]
	Ordinal0 [0x00BE3025+995365]
	Ordinal0 [0x00BE31EB+995819]
	Ordinal0 [0x00C10F52+1183570]
	Ordinal0 [0x00BFE844+1108036]
	Ordinal0 [0x00C0F192+1175954]
	Ordinal0 [0x00BFE616+1107478]
	Ordinal0 [0x00BD7F89+950153]
	Ordinal0 [0x00BD8F56+954198]
	GetHandleVerifier [0x01002CB2+3040210]
	GetHandleVerifier [0x00FF2BB4+2974420]
	GetHandleVerifier [0x00DA6A0A+565546]
	GetHandleVerifier [0x00DA5680+560544]
	Ordinal0 [0x00CA9A5C+1808988]
	Ordinal0 [0x00CAE3A8+1827752]
	Ordinal0 [0x00CAE495+1827989]
	Ordinal0 [0x00CB80A4+1867940]
	BaseThreadInitThunk [0x76C26359+25]
	RtlGetAppContainerNamedObjectPath [0x778487A4+228]
	RtlGetAppContainerNamedObjectPath [0x77848774+180]


Exception Successfully handled

Extract location from the list.

In [257]:
df7=pd.DataFrame({"Name":name,"Designation":d,"Company":c2,"Skills they hire for":s,"Location":l})
df7.head()

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)

In [258]:
driver.close()

# 6. Scrape the details of Highest selling novels.

In [4]:
driver=webdriver.Chrome(r"C:\Users\jayes\Downloads\chromedriver_win32\chromedriver.exe")

In [5]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

Get the url of website

In [21]:
t=[]
title=driver.find_elements(By.XPATH,"//td")
for i in title[1:]:
    t.append(i.text)

Extract data from table

In [24]:
n=[]
b=[]
a=[]
s=[]
p=[]
g=[]

for i in range(0,len(t),6):
    n.append(t[i])
    
for i in range(1,len(t),6):
    b.append(t[i])
    
for i in range(2,len(t),6):
    a.append(t[i])

for i in range(3,len(t),6):
    s.append(t[i])
    
for i in range(4,len(t),6):
    p.append(t[i])
    
for i in range(5,len(t),6):
    g.append(t[i])

Extract rank, title, name, author, sales, publisher and genre from table data

In [25]:
df8=pd.DataFrame({"Rank":n,"Title":b,"Author":a,"Volume Sales":s,"Publisher":p,"Genre":g})
df8.head()

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas

In [26]:
driver.close()

# 7. Scrape the details most watched tv series of all time from imdb.com.

In [141]:
driver=webdriver.Chrome(r"C:\Users\jayes\Downloads\chromedriver_win32\chromedriver.exe")

In [142]:
driver.get("https://www.imdb.com/list/ls095964455/")

Get the url of website

In [177]:
title=[]
show_name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for i in show_name:
    title.append(i.text[3:].split())

show=[]
year=[]
for i in title:
    if i[-1]==")":
        show.append(",".join(i[:-2]))
        year.append(",".join(i[-2:]))
    else:
        show.append(",".join(i[:-1]))
        year.append(i[-1:])

Extract show title.

In [178]:
g=[]
genre=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genre:
    g.append(i.text)
    
rt=[]
runtime=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in runtime:
    rt.append(i.text[:-3])

r=[]
rate=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in rate:
    r.append(i.text)

v=[]
vote=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in vote:
    v.append(i.text)

Extract genre, runtime, rating and votes for the tv shows.

In [179]:
df9=pd.DataFrame({"Name":show,"Year Span":year,"Genre":g,"Run Time (Minutes)":rt,"Rating":r,"Votes":v})
df9.head()

,Name,Year Span,Genre,Run Time (Minutes),Rating,Votes
0,"Game,of,Thrones",[(2011–2019)],"Action, Adventure, Drama",57,9.2,"2,076,187"
1,"Stranger,Things","(2016–,)","Drama, Fantasy, Horror",51,8.7,"1,166,793"
2,"The,Walking,Dead",[(2010–2022)],"Drama, Horror, Thriller",44,8.1,"978,361"
3,"13,Reasons,Why",[(2017–2020)],"Drama, Mystery, Thriller",60,7.5,"291,276"
4,"The,100",[(2014–2020)],"Drama, Mystery, Sci-Fi",43,7.6,"250,413"

In [180]:
b=[]
for i in df9['Year Span']:
        if len(i)==1:
            for j in i:
                b.append(j[1:-1])
        else:
            b.append(i[1:-1].replace(","," "))
            
df9['Year Span']=b

df9['Year Span']

0     2011–2019
1        2016–
2     2010–2022
3     2017–2020
4     2014–2020
        ...
95    2013–2017
96    2017–2019
97    2005–2020
98    2015–2019
99         2018
Name: Year Span, Length: 100, dtype: object

Removed " [ " and " ] " from the Year Span column

In [181]:
for i in range(len(df9["Name"])):
    df9.iloc[i,0]=df9.iloc[i,0].replace(","," ")

Removed "," between words from Name column.

In [182]:
df9.head()

,Name,Year Span,Genre,Run Time (Minutes),Rating,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57,9.2,"2,076,187"
1,Stranger Things,2016–,"Drama, Fantasy, Horror",51,8.7,"1,166,793"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44,8.1,"978,361"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60,7.5,"291,276"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43,7.6,"250,413"

In [183]:
driver.close()

# 8. Details of Datasets from UCI machine learning repositories.

In [259]:
driver=webdriver.Chrome(r"C:\Users\jayes\Downloads\chromedriver_win32\chromedriver.exe")

In [260]:
driver.get("https://archive.ics.uci.edu/")

Get the url of website

In [262]:
driver.find_element(By.XPATH,'//a[text()="view all data sets"]').click()

Select "view all dataset" link from the paragraph.

In [322]:
from selenium.common.exceptions import NoSuchElementException

x=[]

for i in range(2,624):
    if len(x)!=623*7:
        
            search=data.find_element(By.XPATH,f'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[1]/table/tbody/tr/td[2]/p')
            x.append(search.text)
    
            search2=data.find_element(By.XPATH,f'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[2]/p')
            x.append(search2.text)
            
            search3=data.find_element(By.XPATH,f'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[3]/p')
            x.append(search3.text)
    
            search4=data.find_element(By.XPATH,f'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[4]/p')
            x.append(search4.text)
    
            search5=data.find_element(By.XPATH,f'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[5]/p')
            x.append(search5.text)
    
            search6=data.find_element(By.XPATH,f'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[6]/p')
            x.append(search6.text)
    
            search7=data.find_element(By.XPATH,f'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[7]/p')
            x.append(search7.text)

Extract data from table.

In [332]:
n=[]
d=[]
dt=[]
a=[]
noi=[]
noa=[]
y=[]

for i in range(0,len(x),7):
    n.append(x[i])
    
for i in range(1,len(x),7):
    d.append(x[i])
    
for i in range(2,len(x),7):  
    dt.append(x[i])
    
for i in range(3,len(x),7):
    a.append(x[i])
    
for i in range(4,len(x),7):
    noi.append(x[i])
    
for i in range(5,len(x),7):
    noa.append(x[i])
    
for i in range(6,len(x),7):
    y.append(x[i])

Extract Dataset Name, Data Type, Default Task, Attribute Type, No. of Instances, No. of Attributes and Year.

In [333]:
df10=pd.DataFrame({"Dataset Name":n,"Data Type":d,"Default Task":dt,"Attribute Type":a,"No. of Instances":noi,"No. of Attributes":noa,"Year":y})
df10.head()

,Dataset Name,Data Type,Default Task,Attribute Type,No. of Instances,No. of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998

In [334]:
driver.close()